USE [master]
GO
/****** Object:  Database [db49724]    Script Date: 5/19/2026 4:46:59 AM ******/
CREATE DATABASE [db49724]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db49724', FILENAME = N'C:\Users\Admin\db49724.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db49724_log', FILENAME = N'C:\Users\Admin\db49724_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db49724].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db49724]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Action] [nvarchar](200) NOT NULL,
	[TableAffected] [nvarchar](100) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[Timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carriers]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carriers](
	[CarrierId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[ContactEmail] [nvarchar](100) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarrierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DockSchedules]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DockSchedules](
	[DockScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[ShipmentId] [int] NOT NULL,
	[DockNumber] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DockScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[LicenseNumber] [nvarchar](50) NOT NULL,
	[VehiclePlate] [nvarchar](20) NOT NULL,
	[VehicleType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[AssignedWarehouseId] [int] NULL,
	[LicenseExpiry] [datetime2](7) NULL,
	[OnTimeDeliveryRate] [decimal](18, 2) NOT NULL,
	[SafetyScore] [int] NOT NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FreightRateCards]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FreightRateCards](
	[RateCardId] [int] IDENTITY(1,1) NOT NULL,
	[CarrierId] [int] NOT NULL,
	[Zone] [nvarchar](100) NOT NULL,
	[WeightBracket] [nvarchar](50) NOT NULL,
	[BaseRatePerKg] [decimal](10, 2) NOT NULL,
	[FuelSurchargePercent] [decimal](5, 2) NOT NULL,
	[HandlingFee] [decimal](10, 2) NOT NULL,
	[EffectiveDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RateCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceCode] [nvarchar](30) NOT NULL,
	[CarrierId] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PaidAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[ReferenceNumber] [nvarchar](100) NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[RouteId] [int] IDENTITY(1,1) NOT NULL,
	[StartHub] [nvarchar](100) NOT NULL,
	[EndHub] [nvarchar](100) NOT NULL,
	[Waypoints] [nvarchar](500) NULL,
	[VehicleType] [nvarchar](50) NOT NULL,
	[LoadCapacity] [decimal](5, 2) NULL,
	[DistanceKm] [decimal](10, 2) NULL,
	[EstimatedMinutes] [int] NULL,
	[FuelCostEstimate] [decimal](10, 2) NULL,
	[TollCost] [decimal](10, 2) NULL,
	[OptimizationType] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[DriverId] [int] NULL,
	[RouteNumber] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[ShipmentId] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentCode] [nvarchar](30) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CarrierId] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[Origin] [nvarchar](100) NOT NULL,
	[Destination] [nvarchar](100) NOT NULL,
	[CargoType] [nvarchar](50) NOT NULL,
	[Weight] [decimal](10, 2) NOT NULL,
	[Volume] [decimal](10, 2) NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ScheduledDate] [datetime] NOT NULL,
	[SpecialHandling] [nvarchar](200) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[EstimatedCost] [decimal](18, 2) NOT NULL,
	[RouteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[Zone] [nvarchar](50) NULL,
	[CurrentTask] [nvarchar](200) NULL,
	[IsOnShift] [bit] NOT NULL,
	[ShiftType] [nvarchar](20) NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrackingEvents]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackingEvents](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentId] [int] NOT NULL,
	[DriverId] [int] NOT NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](200) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[Notes] [nvarchar](300) NULL,
	[EventTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastLogin] [datetime] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[TotalCapacity] [int] NOT NULL,
	[UsedCapacity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseZones]    Script Date: 5/19/2026 4:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseZones](
	[ZoneId] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[ZoneName] [nvarchar](50) NOT NULL,
	[TotalSlots] [int] NOT NULL,
	[UsedSlots] [int] NOT NULL,
	[ZoneType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carriers] ON 

INSERT [dbo].[Carriers] ([CarrierId], [Name], [ContactPerson], [ContactEmail], [ContactPhone], [IsActive]) VALUES (1, N'LBC Express', N'Rex Buenaventura', N'rex@lbc.com.ph', N'02-8585-5858', 1)
INSERT [dbo].[Carriers] ([CarrierId], [Name], [ContactPerson], [ContactEmail], [ContactPhone], [IsActive]) VALUES (2, N'J&T Express', N'Joy Tan', N'joy@jtexpress.ph', N'02-7798-7898', 1)
SET IDENTITY_INSERT [dbo].[Carriers] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([ShipmentId], [ShipmentCode], [CreatedByUserId], [CarrierId], [WarehouseId], [Origin], [Destination], [CargoType], [Weight], [Volume], [Priority], [Status], [ScheduledDate], [SpecialHandling], [Notes], [CreatedAt], [ShippingFee], [EstimatedCost], [RouteId]) VALUES (1, N'SHP-2024-0091', 2, 1, 1, N'Manila', N'Cebu City', N'Dry Goods', CAST(245.00 AS Decimal(10, 2)), NULL, N'Standard', N'In Transit', CAST(N'2024-12-10T00:00:00.000' AS DateTime), NULL, NULL, CAST(N'2026-04-09T15:58:54.067' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [LastLogin], [PhoneNumber]) VALUES (1, N'System Admin', N'yabdulrahman826@gmail.com', N'$2a$11$phxHmef89pWYEY0pQgjyz.CNzWxqjlgJMnZVeWu1Yp1rPYsDJVDMG', N'Admin', 1, CAST(N'2026-04-09T15:58:53.960' AS DateTime), CAST(N'2026-05-13T21:05:07.357' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [LastLogin], [PhoneNumber]) VALUES (16, N'Ashlee Lustre', N'lustreashlee@gmail.com', N'$2a$11$j/I9covboC99j74LFi9DpupITBAgP5ek/EMvuHPCFIataH8aYcLvC', N'Manager', 1, CAST(N'2026-04-27T15:36:47.720' AS DateTime), CAST(N'2026-05-13T17:01:06.643' AS DateTime), N'09124728439')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([WarehouseId], [Name], [Location], [TotalCapacity], [UsedCapacity], [IsActive]) VALUES (1, N'Manila Central Hub', N'Port Area, Manila', 5000, 3900, 1)
INSERT [dbo].[Warehouses] ([WarehouseId], [Name], [Location], [TotalCapacity], [UsedCapacity], [IsActive]) VALUES (3, N'Cebu City Hub', N'Mandaue City, Cebu', 2500, 1525, 1)
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
GO
USE [master]
GO
